<div class="container">
  <p style="padding-top: 3em">
    This service requires some environmental configuration before it will
    operate correctly. Please ensure your administrator has configured this
    service for authentication, provisioning, or both. Please see the
    accompanying <a href="https://www.perforce.com/manuals/helix-auth-svc/">
    documentation</a> for details.
  </p>
</div>
