<div class="container">
  <p style="padding-top: 3em">This service requires some environmental configuration before
  it will operate correctly. Please ensure your administrator has configured
  either an OpenID Connect or SAML 2.0 identity provider. Please see the
  accompanying documentation for details.</p>
</div>
