<!DOCTYPE html>
<html>
<%- include('title') %>
<body class="Site">
  <%- include('header', {subtitle: 'Administration'}) %>
  <section class="section Site-content">
    <div class="container">
      <% if (adminEnabled) { %>
        <form method="post" action="/admin/login">
          <div class="field">
            <label class="label">Username</label>
            <div class="control">
              <input class="input" type="text" name="username">
            </div>
          </div>
          <div class="field">
            <label class="label">Password</label>
            <div class="control">
              <input class="input" type="password" name="password">
            </div>
          </div>
          <div class="field is-grouped">
            <div class="control">
              <button class="button is-link" type="submit">Login</button>
            </div>
          </div>
        </form>
      <% } else { %>
        <p>Administrative web interface is not enabled.</p>
      <% } %>
    </div>
  </section>
  <%- include('footer') %>
</body>
</html>
