<!DOCTYPE html>
<html>
<%- include('title') %>
<body class="Site">
  <%- include('header', {subtitle: 'Administration'}) %>
  <section class="section Site-content">
    <div class="container">
      <form method="post" action="/admin/restart">
        <p>Changes submitted, ready to restart.</p>
        <div class="field is-grouped">
          <div class="control">
            <button class="button is-link" type="submit">RESTART</button>
          </div>
        </div>
      </form>
    </div>
  </section>
  <%- include('footer') %>
</body>
</html>
