<!DOCTYPE html>
<html>
  <head>
    <title>Login successful</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Thank you, <%= name %></h1>
    <p>You are now authenticated and may close this browser tab.</p>
</body>
</html>
