<footer class="footer Site-footer">
  <div class="content has-text-centered">
    <p>
      <strong><%= title %></strong>
      Copyright &copy; 2022 <a href="http://perforce.com">Perforce Software</a>, Inc.
      All rights reserved.
    </p>
  </div>
</footer>
