<!DOCTYPE html>
<html>
<%- include('title') %>
<body class="Site">
  <%- include('header', {subtitle: 'Welcome'}) %>
  <section class="section Site-content">
    <div class="container">
      <p>This service is used in concert with other Perforce products, is not
      normally accessed directly. To authenticate using this service, simply
      begin by accessing those products and performing a <code>login</code> or
      similar authentication step.</p>
      <p>If you are unsure how to proceed, please contact your administrator.</p>
    </div>
  </section>
  <%- include('footer') %>
</body>
</html>
