<!DOCTYPE html>
<html>
  <head>
    <title>Perforce Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Perforce Login</h1>
    <p>This is a placeholder for the login page.</p>
  </body>
</html>
