<!DOCTYPE html>
<html>
<%- include('title') %>
<body>
  <%- include('header', {subtitle: 'Login Error'}) %>
  <section class="section">
    <div class="container">
      <h1>Login failed</h1>
      <p>Maybe go back and try again?</p>
      <p>Administrators can check the identity provider system logs for details.</p>
    </div>
  </section>
  <%- include('footer') %>
</body>
</html>
