<!DOCTYPE html>
<html>
  <head>
    <title>Login failed</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Login failed</h1>
    <p>Maybe go back and try again?</p>
    <p>Administrators can check the identity provider system logs for details.</p>
</body>
</html>
