<!DOCTYPE html>
<html>

<head>
  <title>Helix Identity Management Integration Service</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/bulma.min.css' />
</head>

<body>
  <section class="hero is-light">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">Helix Identity Management Integration Service</h1>
        <h2 class="subtitle">Enter your credentials using the form</h2>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <h1>Login failed</h1>
      <p>Maybe go back and try again?</p>
      <p>Administrators can check the identity provider system logs for details.</p>
    </div>
  </section>
</body>

</html>
