<!DOCTYPE html>
<html>
  <head>
    <title>Login failed</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h3>Oh dear, something went wrong</h3>
    <p>Maybe go back and try again?</p>
    <p>Administrators can check the authentication provider system logs for details.</p>
</body>
</html>
