<!DOCTYPE html>
<html>
<%- include('title') %>
<body>
  <%- include('hero', {subtitle: 'Logout'}) %>
  <section class="section">
    <div class="container">
      <h1>Logout successful</h1>
      <p>You have logged out and may close this browser tab.</p>
    </div>
  </section>
</body>
</html>
