<!DOCTYPE html>
<html>

<head>
  <title>Helix Identity Management Integration Service</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/bulma.min.css' />
</head>

<body>
  <section class="hero is-light">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">Helix Identity Management Integration Service</h1>
        <h2 class="subtitle">Logout</h2>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <h1>Logout successful</h1>
      <p>You have logged out and may close this browser tab.</p>
    </div>
  </section>
</body>

</html>
