<!DOCTYPE html>
<html>
  <head>
    <title>Logout successful</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Logout successful</h1>
    <p>You have logged out and may close this browser tab.</p>
</body>
</html>
