<!DOCTYPE html>
<html>

<%- include('title') %>

<body>
  <section class="hero is-light">
    <div class="hero-body">
      <div class="container">
        <h1 class="title"><%= title %></h1>
        <h2 class="subtitle">Configuration Error</h2>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <h1>Missing authentication strategy</h1>
      <p>Contact your administrator, the application is missing a strategy for
      the given authentication protocol.</p>
    </div>
  </section>
</body>

</html>
