<!DOCTYPE html>
<html>
  <head>
    <title>Missing Strategy</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Missing authentication strategy</h1>
    <p>Contact your administrator, the application is missing a strategy for the given authentication protocol.</p>
</body>
</html>
