<head>
  <title><%= title %></title>
  <link rel="shortcut icon" href="/images/favicon-32x32.png" type="image/png" />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/bulma.min.css' />
</head>
