body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/**
 * Site layout helper for sticky footer (with bulma CSS) from Philip Walton.
 * Modified because using "height: 100%" does not work (anymore?). In spite
 * of the comments, use min-height because it works much better.
 *
 * 1. Avoid the IE 10-11 `min-height` bug.
 * 2. Set `flex-shrink` to `0` to prevent some browsers from
 *    letting these items shrink to smaller than their content's default
 *    minimum size. See http://bit.ly/1Mn35US for details.
 * 3. Use `%` instead of `vh` since `vh` is buggy in older mobile Safari.
 */
.Site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* height: 100%; /* 1, 3 */
}
.Site-header,
.Site-footer {
  flex: none; /* 2 */
}
.Site-content {
  flex: 1 0 auto; /* 2 */
  padding: var(--space) var(--space) 0;
  width: 100%;
}
.Site-content::after {
  content: '\00a0'; /* &nbsp; */
  display: block;
  margin-top: var(--space);
  height: 0px;
  visibility: hidden;
}
@media (--break-lg) {
  .Site-content {
    padding-top: var(--space-lg);
  }
  .Site-content::after {
    margin-top: var(--space-lg);
  }
}
.Site-content--full {
  padding: 0;
}
.Site-content--full::after {
  content: none;
}
