<!DOCTYPE html>
<html>
<%- include('title') %>

  <body class="Site">
    <%- include('header', { subtitle: 'Authorization Required' }) %>
      <section class="section Site-content">
        <div class="container">
          <div class="notification is-info is-light">
            <p>An application has requested your authentication with the
            configured identity provider. If you initiated this action, you may
            click the button below to proceed.</p>
            <p>If you did <em>not</em> request a login then you should close
            this browser tab and report the incident to an administrator.</p>
          </div>
          <div>
            <form method="post" action="<%= authorizeUrl %>">
              <input type="submit" class="button" value="Approve Login"/>
            </form>
          </div>
        </div>
      </section>
      <%- include('footer') %>
  </body>

</html>