<!DOCTYPE html>
<html>
<%- include('title') %>

  <body class="Site">
    <%- include('header', {subtitle: 'Login Error' }) %>
      <section class="section Site-content">
        <div class="notification is-warning">
          <p>Login failed</p>
          <p>Maybe go back and try again?</p>
          <p>Administrators can check the identity provider system logs for details.</p>
        </div>
      </section>
      <%- include('footer') %>
  </body>

</html>