<!DOCTYPE html>
<html>
<%- include('title') %>

  <body class="Site">
    <%- include('header', {subtitle: 'Logout' }) %>
      <section class="section Site-content">
        <div class="notification is-success is-light">
          <p>Logout successful</p>
          <p>You have logged out and may close this browser tab.</p>
        </div>
      </section>
      <%- include('footer') %>
  </body>

</html>