<!DOCTYPE html>
<html>
<%- include('title') %>
<body class="Site">
  <%- include('header', {subtitle: 'Configuration Error'}) %>
  <section class="section Site-content">
    <div class="container">
      <h1>Missing authentication strategy</h1>
      <p>Contact your administrator, the application is missing a strategy for
      the given authentication protocol.</p>
    </div>
  </section>
  <%- include('footer') %>
</body>
</html>
