<!DOCTYPE html>
<html>
<%- include('title') %>

  <body class="Site">
    <%- include('header', {subtitle: 'Missing Session' }) %>
      <section class="section Site-content">
        <div class="block">
          <div class="notification is-warning is-light">
            <p>
              Thank you, <%= name %>
            </p>
            <p>
              Your login was partially successful, however the browser session
              was missing the information containing the login request. As such,
              the application requesting authentication will be unable to
              receive the data it needs to complete the process. Please contact
              an administrator.
            </p>
          </div>
        </div>
      </section>
      <%- include('footer') %>
  </body>

</html>