<!DOCTYPE html>
<html>
<%- include('title') %>

  <body class="Site">
    <%- include('header', {subtitle: 'Configuration Error' }) %>
      <section class="section Site-content">
        <div class="notification is-warning">
          <p>Missing authentication strategy</p>
          <p>Contact your administrator, the application is missing a strategy
          for the given authentication protocol.</p>
        </div>
      </section>
      <%- include('footer') %>
  </body>

</html>